BODY {
	COLOR: #000000;
	FONT-FAMILY: arial, helvetica, verdana, sans-serif;
	FONT-SIZE: 12px;
	FONT-WEIGHT: normal;
}

P {
	FONT-FAMILY: arial, helvetica, verdana, sans-serif;
	FONT-SIZE: 12px;
	FONT-WEIGHT: normal;
}

TD {
	COLOR: #000000;
	FONT-FAMILY: arial, helvetica, verdana, sans-serif;
	FONT-SIZE: 12px;
	FONT-WEIGHT: normal;
}

.ProductName {
	font-size: 16pt;
	font-weight: normal;
	FONT-FAMILY: Arial Rounded MT Bold; 
	text-align: center;
	BACKGROUND: #1F94D7; 
	color: #FFFFFF;
	TEXT-DECORATION: none; 
}

.BannerTable
{
	BACKGROUND-COLOR: #1F94D7;
	COLOR: #FFFFFF;
}

.UtilityTable
{
	BACKGROUND: #455F55;
	COLOR: #FFFFFF;
	FONT-FAMILY: arial, helvetica, verdana, sans-serif, geneva;
	FONT-SIZE: 8pt;
	FONT-WEIGHT: regular;
	TEXT-DECORATION: none;
}

A.UtilityTable:link, A.UtilityTable:visited, A.UtilityTable:active
{
	BACKGROUND: #455F55;
	COLOR: #FFFFFF;
	FONT-FAMILY: arial, helvetica, verdana, sans-serif, geneva;
	FONT-SIZE: 8pt;
	FONT-WEIGHT: regular;
	TEXT-DECORATION: none;
}

.UtilityMouseOver
{
	BACKGROUND: #455F55;
	COLOR: #DFDF43;
	FONT-FAMILY: arial, helvetica, verdana, sans-serif, geneva;
	FONT-SIZE: 8pt;
	FONT-WEIGHT: regular;
	TEXT-DECORATION: none;
}

A.UtilityMouseOver:link, A.UtilityMouseOver:visited, A.UtilityMouseOver:active
{
	BACKGROUND: #455F55;
	COLOR: #DFDF43;
	FONT-FAMILY: arial, helvetica, verdana, sans-serif, geneva;
	FONT-SIZE: 8pt;
	FONT-WEIGHT: regular;
	TEXT-DECORATION: none;
}

.UtilityOptionSpacer
{
	BACKGROUND: #455F55;
	COLOR: #455F55;
	FONT-FAMILY: arial, helvetica, verdana, sans-serif;
	FONT-SIZE: 8pt;
}

.NavTable
{
	BACKGROUND: #95ABA1;
	COLOR: #000000;
	FONT-FAMILY: arial, helvetica, verdana, sans-serif;
	FONT-SIZE: 9pt;
	FONT-WEIGHT:bold;
}

A.NavTable:link, A.NavTable:visited, A.NavTable:active
{
	BACKGROUND: #95ABA1;
	COLOR: #000000;
	FONT-FAMILY: arial, helvetica, verdana, sans-serif;
	FONT-SIZE: 9pt;
	FONT-WEIGHT:bold;
	TEXT-DECORATION: none;
}

.NavTableBorder
{
	BACKGROUND: #000000;
}

.NavMouseOver
{
	BACKGROUND: #000000;
	COLOR: #FFFFFF;
	FONT-FAMILY: arial, helvetica, verdana, sans-serif, geneva;
	FONT-SIZE: 9pt;
	FONT-WEIGHT: bold;
}

A.NavMouseOver:link, A.NavMouseOver:visited, A.NavMouseOver:active
{
	BACKGROUND: #000000;
	COLOR: #FFFFFF;
	FONT-FAMILY: arial, helvetica, verdana, sans-serif, geneva;
	FONT-SIZE: 9pt;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}

.NavLeftTable
{
	BACKGROUND: #CEE8F6;
	COLOR: #000000;
	FONT-FAMILY: arial, helvetica, verdana, sans-serif;
	FONT-SIZE: 9pt;
	FONT-WEIGHT: bold;
}


A.NavLeftTable:link, A.NavLeftTable:visited, A.NavLeftTable:active
{
	BACKGROUND: #CEE8F6;
	COLOR: #000000;
	FONT-FAMILY: arial, helvetica, verdana, sans-serif;
	FONT-SIZE: 9pt;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}

.NavLeftMouseOver
{
	BACKGROUND: #000000;
	COLOR: #FFFFFF;
	FONT-FAMILY: arial, helvetica, verdana, sans-serif, geneva;
	FONT-SIZE: 9pt;
	FONT-WEIGHT: bold;
}

A.NavLeftMouseOver:link, A.NavLeftMouseOver:visited, A.NavLeftMouseOver:active
{
	BACKGROUND: #000000;
	COLOR: #FFFFFF;
	FONT-FAMILY: arial, helvetica, verdana, sans-serif, geneva;
	FONT-SIZE: 9pt;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}

.Headertxt
{
color: #FFFFFF;
font-size: 12px;
font-weight: normal;
FONT-FAMILY: arial, helvetica, verdana, sans-serif; 
}